<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zg.number.mapper.RealizeMapper">

    <!--查询一锤定音表-->
    <select id="selectInvest" resultType="com.zg.number.bean.Invest" >
       select t.investId,t.planName,t.projectTime,t.surplusMoney,t.revenueMoney,t.planMoney from t_invest t
   </select>

    <!--马上投资:根据项目的id查询项目详情-->
    <select id="projectstail" parameterType="int" resultType="com.zg.number.bean.Invest">
        select t.investId,t.planName,t.projectTime,t.surplusMoney,t.revenueMoney,t.planMoney,t.endtime from t_invest t where t.investId=#{investId}
    </select>

    <!--余额查询-->
    <select id="selectYvE" parameterType="int" resultType="com.zg.number.bean.Captail">
        select * from t_captail where userId = #{userid}
    </select>

    <!--将投资信息注入到投资记录表-->
    <insert id="addRecord" parameterType="com.zg.number.bean.Record" >
        insert into t_record(recordMoney,irecordTime,uid) value(#{recordMoney},#{irecordTime},#{uid})
    </insert>

    <!--修改资产表的账户余额-->
    <update id="updateCaptail" parameterType="com.zg.number.bean.Captail" >
      update t_captail set captailMoney = #{captailMoney} where userId = #{userId};
    </update>
</mapper>